* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;  
    flex-direction: column; /* Change the default of elements going in a row to columns */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* To take up the entire viewport */
    color: rgb(17, 16, 16);
}
 
#currentTime {
    font-size: 4rem;
    font-family: 'Cormorant SC', serif;
}

h2 {
    margin: 1rem 0;
}

h3 {
    opacity: 0.6;
}

/* #DA-image {
    size: 50%;
} */

/* Displaying different images based on time of the day classes tied to currentTime */
/* .morning {
    background-image: url("/Project1-MB/images/sunrise_cloud.jpg")
}

.day {
    background-image: url("/Project1-MB/images/beach_daytime.jpg")
}

.sunset {
    background-image: url("/Project1-MB/images/sunset_pink.jpg")
}

.night {
    background-image: url("/Project1-MB/images/beach_night.jpg")
} */

/* Media query to adjust the text size on smaller phone screens */
@media(max-width: 576px) {
    #time {
        font-size: 2rem;
        font-weight: bold;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
}