* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;  
    flex-direction: column; /* Change the default of elements going in a row to columns */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* To take up the entire viewport */
    color: black;
}

#time {
    font-size: 4rem;
    font-family: 'Cormorant SC', serif;
}

h2 {
    margin: 1rem 0;
}

h3 {
    opacity: 0.6;
}

/* Media query to adjust the text size on smaller phone screens */
@media(max-width: 576px) {
    #time {
        font-size: 2rem;
        font-weight: bold;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
}